<footer class="footer tao-footer">
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="columns is-mobile">
        <div class="column">
          <a href="{{ site.social.linkedin }}" alt="LinkedIn Profile" target="_blank">
            <span class="icon"><i class="fa fa-lg fa-linkedin-square"></i></span>
          </a>
        </div>
        <div class="column">
          <a href="{{ site.social.email }}" alt="Email me" target="_blank">
            <span class="icon"><i class="fa fa-lg fa-envelope"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Closing the container -->
</div>


<script lang="javascript">
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});
</script>
