<section class="hero">
  <div class="hero-body">
    <p class="title is-1 has-text-centered">{{ site.title }}</p>
  </div>
</section>

{% assign current = page.url | downcase | remove: 'index.html' %}

<!-- Closed in the footer -->
<div class="container">
  <div id="topNav">
    <nav class="main-nav">
      <ul>
        <li class="page-collection {% if current == '/' %}active-link{% endif %}">
          <a href="/" {% if current == '/' %}class='is-active'{% endif %}>About</a>
        </li>
      <li class="page-collection {% if current contains '/portfolio/' %}active-link{% endif %}">
      <a href="/portfolio/" {% if current contains '/portfolio/' %}class='is-active'{% endif %}>Portfolio</a>
    </li>
    <li class="page-collection {% if current == '/publications/' %}active-link{% endif %}">
          <a href="/publications/" {% if current == '/publications/' %}class='is-active'{% endif %}>Publications</a>
        </li>
      </ul>
      <div class="page-divider"></div>
    </nav>
  </div>
