<section class="hero is-transparent is-primary is-medium ub-home-hero">
  <div class="ub-color-overlay"></div>
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
     {% include 'header.liquid' %}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      {% if page.tagline %}
      <h1 class="title is-4 ub-home-title has-text-centered">
         {{ page.tagline }}
      </h1>
      {% endif %}
      {% if page.mainbutton %}
      <h2 class="has-text-centered">
        <a class="button ub-pill" href="#">
          <span>{{ page.mainbutton }}</span>
        </a>
      </h2>
      {% endif %}
    </div>
  </div>
</section>
