
<footer class="footer tao-footer">
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <a href="https://www.linkedin.com/in/temi-ogunyoku-phd/" alt="Temitope A. Ogunyoku Linked-In profile" target="_blank">
        <span class="icon is-medium"><i class="fa fa-linkedin-square"></i></span>
      </a>
      <a href="mailto:Taogunyoku@gmail.com" alt="Email me" target="_blank">
        <span class="icon is-medium"><i class="fa fa-envelope"></i></span>
      </a>
    </div>
  </div>
</footer>

<!-- Closing the container -->
</div>

<script lang="javascript">
  document.addEventListener('DOMContentLoaded', function () {
    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any nav burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
