<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered">{{site.title}}</h1>
    </div>
  </div>
</section>

{% assign current = page.url | downcase | remove: ".html" %}

<!-- Closed in the footer -->
<div class="container">

  <div id="topNav">
    <nav class="main-nav" data-content-field="navigation">
      <ul>
        <li class="page-collection active-link">
          <a href="/" {% if current == '/' %}class='is-active'{% endif %}>About</a>
        </li>
        <li class="page-collection">
          <a href="/publications/" {% if current == '/publications' %}class='is-active'{% endif %}>Publications</a>
        </li>
      </ul>
      <div class="page-divider"></div>
    </nav>
  </div>
