@charset "utf-8";
@import "bulma/utilities/initial-variables";
// 2. Set your own initial variables
$navbar-item-hover-background-color: transparent;
$footer-background-color: $white;
$temi-color: #089191;
$family-serif: "Merriweather", "Georgia", serif;
$title-family: "proxima-nova", "Arial", sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $temi-color;
// $primary-invert: $pink-invert;
// Use the existing orange as the danger color
// $danger: $orange;
// Use the new serif family
$family-primary: $family-serif;
// 4. Import the rest of Bulma
@import "bulma";
.tao-navbar-center {
    justify-content: center;
    .navbar-start {
        margin: auto;
    }
}

// .tao-navbar-line {
//     overflow: hidden;
//     text-align: center;
//     &:before,
//     &:after {
//         background-color: #000;
//         content: "";
//         display: inline-block;
//         height: 1px;
//         position: relative;
//         vertical-align: middle;
//         width: 50%;
//     }
//     &:before {
//         right: 0.5em;
//         margin-left: -50%;
//     }
//     &:after {
//         left: 0.5em;
//         margin-right: -50%;
//     }
// }
.tao-navbar-container {
    margin-left: 10%;
    margin-right: 10%;
}

.tao-navbar-line {
    width: 100%;
    text-align: center; // text-align: left; 
    // text-indent: 40px;
    border-bottom: 2px solid $grey-lighter;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
        background: $body-background-color;
        padding: 0 2em;
        .link {
            &:not(:first-child) {
                margin-left: 2em
            }
            // &:not(:last-child) {
                // margin-left: 1em
            // }
        }
    }

    a.is-active {
        text-decoration: none;
        // border-bottom: 2px solid $grey-lighter;
        line-height: 1.6em;
    }
}

.section {
    padding: 0 1em;
    p {
        margin: 0 0 1.8em;
    }
}

.tao-footer {
    margin: 0 1em;
    padding: 1em 0 1.8em;
    border-top: 2px solid $grey-lighter;
}

.button {
    border-radius: 300px;
    padding: 30px 34px;
    font-weight: 600;
    border-width: 2px;
    font-family: $title-family;    
    transition: 0.2s background-color linear, 0.2s color linear;
}

.title {
    font-family: $title-family;    
}

ul {
    margin-left: 1.5em;
}
// Thanks to 
// https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
// and squarespace
$navlineheight: 2em;
#topNav {
    z-index: 1000;
    padding: 0 1em;
    font-family: $title-family;    
    
    nav {
        text-align: center;
        width: 100%;
        // line-height: 1.8em;

        ul {
            background: $body-background-color;
            padding: 0 2em;
            display: inline-block;
            // line-height: 1.6em;
            width: auto;
            margin: auto;
            letter-spacing: 1px;
        }

        li {
            display: inline-block;
            // line-height: 1.6em;
            &:not(:first-child){
                margin-left: 2em;
            }
            a {
                text-transform: uppercase;
                font-size: 0.9em;
                line-height: $navlineheight;
                padding-bottom: 0.3em;
                &.is-active {
                    border-bottom: 2px solid $grey-lighter;
                    // border-bottom-width: 2px;
                }
            }
        }
    }

    .page-divider {
        line-height: $navlineheight;
        margin-top: -($navlineheight/2);
        margin-bottom: $navlineheight;
        // font-size: 14px;
        // border-bottom-color: $grey-lighter;
        // border-bottom-width: 2px;
        border-bottom: 2px solid $grey-lighter;
    }
}