@charset "utf-8";

// // Load Bulma's base styles and themes (including the minireset)
// @use "bulma/sass/utilities" as *;
// @use "bulma/sass/base";
// @use "bulma/sass/themes";

// // 2. Set your own initial variables
// $navbar-item-hover-background-color: transparent;
// // $footer-background-color: $white;
// $temi-color: #089191;
// $family-serif: "Merriweather", "Georgia", serif;
// $title-family: "proxima-nova", "Arial", sans-serif;
// // 3. Set the derived variables
// // Use the new pink as the primary color
// $primary: $temi-color;
// // $primary-invert: $pink-invert;
// // Use the existing orange as the danger color
// // $danger: $orange;
// // Use the new serif family
// $family-primary: $family-serif;
// // 4. Import the rest of Bulma
// // @import "bulma";


// Define your custom variables
$temi-color: #089191;
$temi-color: hsl(180, 88%, 20%);
$family-serif: "Merriweather", "Georgia", serif;
$title-font: "proxima-nova", "Arial", sans-serif;

// // Override Bulma's global variables from the utilities module
// @use "bulma/sass/utilities" with (
//   $primary: $temi-color,
//   $family-primary: $title-family,
// );

// // Override variables in Bulma's navbar component
// @use "bulma/sass/components/navbar" with (
//   $navbar-item-hover-background-color: transparent,
// );

// @forward "bulma/sass/components/hero";
// @forward "bulma/sass/elements/content";
// @forward "bulma/sass/layout/container";


// // Override variables in Bulma's footer layout
// @use "bulma/sass/layout/footer" with (
//   $footer-background-color: $white,
// );

// Import Bulma's themes
// @forward "bulma/sass/themes";

$temi-font-size: 1.25em;

@use "bulma/sass"  as * with (
    $primary: $temi-color,
    $family-primary: $title-font,
    $title-family: $title-font,
    $link: $temi-color,
    $card-shadow: none,
    $body-font-size: $temi-font-size,
    $body-line-height: 1.75em
);

:root {
    --bulma-link-on-scheme-l: 35%; /* Set your preferred lightness level for light mode */
  }

// Override the body font-family to use your serif font
body {
  font-family: $family-serif;
}

@media screen and (min-width: 769px) {
  .reverse-columns-desktop {
    flex-direction: row-reverse;
  }
}

.section.project-desc-section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.section ul {
    list-style: disc;
    line-height: 2em;
}

.shaded-background {
        background-color: hsl(0, 0%, 96%);
        // background-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-95-l)) !important;
}

a:hover {
    filter: brightness(0.7);
}


blockquote {
    border-left: 3px solid var(--bulma-link); /* Bulma color */
    padding-left: 1rem;
    margin-left: 5rem;
    // color: var(--bulma-link-text); /* Bulma text color */
    font-style: italic;
  }

  
.tao-navbar-center {
    justify-content: center;
    .navbar-start {
        margin: auto;
    }
}

.tao-navbar-container {
    margin-left: 10%;
    margin-right: 10%;
}

.tao-navbar-line {
    width: 100%;
    text-align: center; // text-align: left; 
    // text-indent: 40px;
    border-bottom: 2px solid $grey-lighter;
    line-height: 0.1em;
    margin: 10px 0 20px;
    span {
        background: var(--bulma-body-background-color);
        padding: 0 2em;
        .link {
            &:not(:first-child) {
                margin-left: 2em
            }
            // &:not(:last-child) {
                // margin-left: 1em
            // }
        }
    }

    a.is-active {
        text-decoration: none;
        // border-bottom: 2px solid $grey-lighter;
        line-height: 1.6em;
    }
}

.section {
    padding: 0 1em;
    p {
        margin: 0 0 1.8em;
    }
}

.tao-footer {
    margin: 0 1em;
    padding: 1em 0 1.8em;
    border-top: 2px solid $grey-lighter;
    background: var(--bulma-body-background-color);
}

.button {
    border-radius: 300px;
    padding: 20px 34px;
    font-weight: 600;
    border-width: 2px;
    font-family: $title-family;    
    transition: 0.2s background-color linear, 0.2s color linear;
}

a.button.is-link.is-outlined:hover,
.card-image a:hover {
    filter: none;
}
.button.is-link.is-outlined:hover {
    background-color: var(--bulma-link); /* Match Bulma’s link color */
    color: hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-color-l));
    border-color: transparent; /* Make border invisible */
}
.title {
    font-family: $title-family;    
}

ul {
    margin-left: 1.5em;
}
// Thanks to 
// https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
// and squarespace
$navlineheight: 2em;
#topNav {
    z-index: 1000;
    padding: 0 1em;
    font-family: $title-family;    
    
    nav {
        text-align: center;
        width: 100%;
        // line-height: 1.8em;

        ul {
            background: var(--bulma-body-background-color);
            padding: 0 2em;
            display: inline-block;
            // line-height: 1.6em;
            width: auto;
            margin: auto;
            letter-spacing: 1px;
        }

        li {
            display: inline-block;
            // line-height: 1.6em;
            &:not(:first-child){
                margin-left: 2em;
            }
            a {
                text-transform: uppercase;
                font-size: 0.9em;
                line-height: $navlineheight;
                padding-bottom: 0.3em;
                &.is-active {
                    border-bottom: 2px solid $grey-lighter;
                    // border-bottom-width: 2px;
                }
            }
        }
    }

    .page-divider {
        line-height: $navlineheight;
        margin-top: -($navlineheight*0.5);
        margin-bottom: $navlineheight;
        // font-size: 14px;
        // border-bottom-color: $grey-lighter;
        // border-bottom-width: 2px;
        border-bottom: 2px solid $grey-lighter;
    }
}

