---
layout: layouts/default.liquid
---

<section class="section">
  <div class="columns">
    <div class="column is-5">
      <img src="/assets/images/headshot.jpg" alt="Temi Ogunyoku">
    </div>
    <div class="column">
      {{ content }}
      <p>
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <a href="/assets/Ogunyoku_CV.pdf" target="_blank" alt="Temi's CV" class="button is-link is-outlined">RESUME</a>
          </div>
        </div>
      </p>
    </div>
  </div>
</section>
