</div>
<div class="container">
<section class="section project-desc-section">
  <div class="columns is-vcentered">
    {% if custom_image %}
      <div class="column is-5">
          <img src="/assets/images/{{ custom_image | url }}" alt="{{ title }}">
      </div>
    {% endif %}
    <div class="column">
      <h3 class="is-3 title">{{section.title}}</h3>
      {{ section.content | safe }}
    </div>
  </div>
</section>