---
layout: layouts/default.liquid
---
    {% set page_split = splitSections(page.rawInput) %}
    {% for current_section in page_split %}
        {% set section = current_section %}
        {% set custom_image = findSectionConfigKey(sectionsConfig, current_section.title, "image") %}
        {% set custom_layout = findSectionConfigKey(sectionsConfig, current_section.title, "layout") %}
        {% set data = findSectionConfigKey(sectionsConfig, current_section.title, null) %}
        {% if custom_layout %}
            {% include "layouts/" + custom_layout + ".njk" %}
        {% elif loop.index is odd %}
            {% include "layouts/project_section_left.njk" %}
        {% else %}
            {% include "layouts/project_section_right.njk" %}
        {% endif %}
    {% endfor %}
    