</div>
{% if data.shaded %}
<div class="shaded-background">
{% endif %}
<div class="container">
<section class="section project-desc-section">
  <h3 class="is-3 title">{{section.title}}</h3>
  <h3 class="is-3 title">&nbsp;</h3>
    
  {% for m in data.methods %}
    {% if loop.index is odd %}

  <div class="columns is-vcentered reverse-columns-desktop">
      <div class="column">
        <h4 class="title is-4">{{ m.title }}</h4>
        {{ m.description | safe }}
      </div>
      {% if m.image %}
        <div class="column is-5">
          <img src="/assets/images/{{ m.image | url }}" alt="{{ m.title }}">
        </div>
      {% endif %}
    {% else %}
  <div class="columns is-vcentered">
      <div class="column">
        <h4 class="title is-4">{{ m.title }}</h4>
        {{ m.description | safe }}
      </div>
      {% if m.image %}
        <div class="column is-5">
          <img src="/assets/images/{{ m.image | url }}" alt="{{ m.title }}">
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}
</section>
</div>
