---
layout: default
---

{% include hero.html %}

<section class="section">
  <div class="container ub-content ub-top-content ">
    <div class="columns">
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">
                    What to do
                </p>
                <ul class="menu-list">
                    <li><a class="is-active">Walk in our shoes</a></li>
                    <li><a>Ride with us</a></li>
                    <li><a>Custom tour</a></li>
                </ul>
            </aside>
        </div>
        <div class="column content ub-main-content">
            <h1 class="title has-text-centered">Features overview</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione obcaecati quasi maxime voluptate, culpa voluptatem fugit corrupti sequi iure laborum veritatis, natus neque repellendus repudiandae sunt inventore, id suscipit voluptas!</p>
            <figure class="image is-16by9">
                <img src="http://bulma.io/images/placeholders/640x360.png">
            </figure>

            <h4 class="title">Feature 1</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolorem accusamus numquam suscipit culpa, omnis hic voluptatem veniam eveniet nam quidem optio quaerat exercitationem fuga illum. Accusamus, optio? Dicta, doloremque.
            </p>

            <div class="columns">
                <div class="column is-half">
                    <figure class="image is-16by9">
                        <img src="http://bulma.io/images/placeholders/640x360.png" alt="">
                    </figure>
                    <h4 class="title">Feature 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolorem facere sed odio ratione impedit ab beatae expedita ipsa optio eveniet placeat eos harum explicabo quibusdam sint illum, delectus facilis!</p>
                </div>
                <div class="column is-half">
                    <figure class="image is-16by9">
                        <img src="http://bulma.io/images/placeholders/640x360.png" alt="">
                    </figure>
                    <h4 class="title">Feature 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolorem facere sed odio ratione impedit ab beatae expedita ipsa optio eveniet placeat eos harum explicabo quibusdam sint illum, delectus facilis!</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>