--- 
layout: default 
---

  <section class="section">
      <div class="columns">
        {% for image in site.static_files %}
          {% if image.path contains 'images/headshot' %}
            <div class="column is-5"><img src="{{image.path}}" alt="Temi Ogunyoku"></div>
          {% endif %}
        {% endfor %}
        <div class="column">
          {{content}}
          <p>
            <div class="level">
              <div class="level-left"></div>
              <div class="level-right">
                {% for cv in site.static_files %}
                  {% if cv.path contains 'Ogunyoku_CV' %}
                    <a href="{{cv.path}}" target="_blank" alt="Temi's CV" class="button is-primary is-outlined">CURRICULUM VITAE</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </p>
        </div>
    </div>
  </section>
