--- 
layout: default 
---

  <section class="section">
      <div class="columns">
        <div class="column is-5"><img src="https://static1.squarespace.com/static/57bc63e837c5819f22eb9d65/t/57c4671520099edbe4187f04/1472490486124/" alt="Temi Ogunyoku"></div>
        <div class="column">
          {{content}}
          <p>
            <div class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <a href="#" class="button is-primary is-outlined">CURRICULUM VITAE</a>       
              </div>
            </div>
          </p>
        </div>
    </div>
  </section>

{% comment %} <div class="tao-navbar-line"><a href="#" class="link is-info">hi</a><a href="#" class="link is-info">Pubs</a></div>
<div class="tao-navbar-container">
  <span><a href="#" class="is-active link is-info">hi</a><a href="#" class="link is-info">Pubs</a></span>
  <div class="tao-navbar-line"></div>
</div>

<nav class="navbar ">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu tao-navbar-center tao-navbar-line">
    <div class="navbar-start">

      <div class="navbar-item level tao-navbar-center" style="width:100%">
        <div class="level-item has-text-centered">
          <a href="#" class="link is-info">Home</a>
        </div>
        <div class="level-item has-text-centered">
          <a href="#" class="link is-info">Publications</a>
        </div>
      </div>

    </div>
  </div>
</nav> {% endcomment %}