--- 
layout: default 
---

  <section class="section">
      <div class="columns">
        <div class="column is-5"><img src="https://static1.squarespace.com/static/57bc63e837c5819f22eb9d65/t/57c4671520099edbe4187f04/1472490486124/" alt="Temi Ogunyoku"></div>
        <div class="column">
          {{content}}
          <p>
            <div class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <a href="#" class="button is-primary is-outlined">CURRICULUM VITAE</a>       
              </div>
            </div>
          </p>
        </div>
    </div>
  </section>
