--- 
layout: default 
---
<section class="section">
    {{content}}
</section>
<!-- 
<section class="section">
    <h6 class="title is-6">Patents</h6>
    <ul class="tao-list">
    {% for post in site.patents reversed %}
        <li>{{post.content}}</li>
    {% endfor %}
    </ul>
</section>

<section class="section">
    <h6 class="title is-6">Peer-Reviewed Journal Articles</h6>
    <ul class="tao-list">
    {% for post in site.journals reversed %}
        <li>{{post.content}}</li>
    {% endfor %}
    </ul>
</section> -->